<h1>新規タスク</h1>

<%= form_with model: @task, url: tasks_create_path,local: true do |f| %>
    <div><%= f.label :title %></div>
    <div><%= f.text_field :title %></div>
    <div><%= f.submit %></div>
<% end %>
<%= link_to '戻る', tasks_path %>
